.store-info h2{
    margin-bottom: 0px;
}


.bookmark-item {
    width: 43%;
    height: 100px;
    margin: 10px;
    border: 1px solid #40003A;
    border-radius: 5px;
    display: inline-block;
}

.bookmark-item-wrap {
    padding: 10px;
}

.cart-bookmarkIcon {
    display: inline-block;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
}

.bookmark-item-img {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    padding-left: 30px;
    padding-top: 5px;
}

.bookmark-menu-name {
    text-align: center;
    flex: 1;
}