.menu-item {
    height: 90px;
    margin: 10px;
    border: 1px solid #40003A;
    border-radius: 5px;
    font-size: large;
}

.delete-button img {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.menu-item-wrap {
    padding: 10px;
}

.menu-item-img {
    display: inline-block;
    vertical-align: middle;
}

.menu-item-info {
    display: inline-flex; /* Flexbox를 사용하여 아래 요소들을 가로 정렬합니다. */
    align-items: center; /* 세로 정렬을 중앙으로 설정합니다. */
    margin-left: 10px;
}

.cart-menu-name {
    flex: 1; /* 나머지 공간을 모두 차지하도록 설정합니다. */
}

.cart-menu-number {
    margin: 10px;
}

.cart-menu-price {
    float: right; /* 가격을 오른쪽으로 정렬합니다. */
}

