.date {
    background-color: #FCCB6F;
    text-align: center;
    margin: 10px;
}

.date {
    color: black;
}

a {
    text-decoration: none;
}

.gapDate {
    color: black;
}

.menulist-today {
    color: black;
    border: 1px solid #40003a;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    margin-top: 20px;
}

ul {
    padding: 0px;
}

li {
    list-style-type: none;
}