.my-things {
  padding: 0 25px;
  text-align: center;
}

.my-name {
  margin-top: 20px;
}

.name-title {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 10px;
}

.name-box,
.name-box-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 50px;

  border: solid 1.5px #43000a;
  border-radius: 5px;

  padding: 0;
}

.name-box p {
  margin-left: 10px;
}

.name-box button {
  margin-right: 10px;
}

.my-reservation {
  margin-top: 20px;
}

.my-food,
.my-review {
  margin-top: 20px;
}

.name-box-2 {
  display: flex;
  justify-content: center;
  background-color: #fccb6f;
  font-family: "Pretendard-Regular";
  font-size: 20px;
}

.name-box-2 img {
  width: 22px;
  padding: 2px 0 0 2px;
}

.inform-modi-btn,
.reserv-non-btn,
.reserv-back-btn,
.pay-btn,
.logout-btn {
  font-family: "Pretendard-Regular";
  width: 40px;
  height: 25px;
  border: solid 1.5px #43000a;
  border-radius: 5px;
  background-color: #fccb6f;
  font-size: 12px;
  padding: 0;
}

.reserv-non-btn {
  width: 40px;
  height: 18px;
  font-size: 10px;
}

.reserv-back-btn {
  width: 70px;
}

.pay-btn,
.logout-btn {
  border: none;
}

.pay-btn {
  width: 95px;
}

.logout-btn {
  width: 55px;
  background-color: #d9d9d9;
  margin-left: 5px;
}

.reservation-box {
  width: calc(100% - 40px);
  height: 100px;
  border: solid 1.5px #43000a;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

.reservation-box > p {
  font-size: 20px;
}

.my-seat {
  width: calc(50% - 0.75px);
  height: 80%;
}

.seat-time {
  margin-left: 20px;
  width: calc(50% - 0.75px - 20px);
  height: 80%;
}

.reserv-line {
  width: 1.5px;
  height: 80%;
  border-left: solid 1.5px #43000a;
}

.my-seat-text,
.seat-time-text {
  display: flex;
  font-size: 15px;
}

.my-seat-num {
  font-size: 55px;
  font-weight: bold;
  margin-right: 20px;
}

.seat-time-num {
  font-size: 35px;
  font-weight: bold;
}

.using-seat {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pay-logout {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  margin-bottom: -10px;
}
