.contents {
  text-align: center;
  display: flex;
  justify-content: center;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-box {
  width: 100%;
  height: 50px;
  border: solid 1.5px #43000a;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.form-box-input {
  text-align: left;
  margin-left: 10px;
}

.form-box-input p {
  font-size: 12px;
}

.form-box-check {
  margin-right: 10px;
}

.form-box-check img {
  width: 16px;
}

.input-field {
  width: 65vw;
  padding: 0;
  border: none;
  outline: none;
  font-family: "Pretendard-Regular";
}

@media (hover: hover) {
  .input-field {
    width: calc(390px * 0.65);
  }
}

.submit-btn {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  background-color: white;
  border: solid 2px #fccb6f;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 80vw;
  height: 45px;
  padding: 0;
  /* margin-top: 30px; */
}

@media (hover: hover) {
  .submit-btn {
    width: calc(390px * 0.8);
  }
}

#input-dropdown {
  width: 65vw;
  padding: 0;
  border: none;
  outline: none;

  font-family: "Pretendard-Regular";
  font-size: 15px;
  background-color: white;
}

@media (hover: hover) {
  #input-dropdown {
    width: calc(390px * 0.65);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.texts {
  margin-top: 200px;
  width: 100%;
}

.pwd-scripts {
  font-size: 12px;
  color: rgba(67, 0, 10, 0.5);
  padding: 5px 0 0 5px;
}
