.contents {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-box {
  width: 80vw;
  height: 50px;
  border: solid 1.5px #43000a;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}

.form-box-input {
  text-align: left;
  margin-left: 10px;
}

.form-box-input p {
  font-size: 12px;
}

.form-box-check {
  margin-right: 10px;
}

.form-box-check img {
  width: 16px;
}

.input-field {
  width: 65vw;
  padding: 0;
  border: none;
  outline: none;
}

.submit-btn {
  font-size: 20px;
  font-family: "Pretendard-Regular";
  background-color: white;
  border: solid 2px #fccb6f;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  width: 80vw;
  height: 45px;
  padding: 0;
  margin-top: 30px;
}

#input-dropdown {
  width: 65vw;
  padding: 0;
  border: none;
  outline: none;

  font-family: "Pretendard-Regular";
  font-size: 15px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
